 body, html{
   background: rgb(#E5E5E5);
	font-family: Ubuntu, sans-serif;
   font-size: 16px;
}

.Page {
   display: flex;
   flex-direction: column;
   justify-content: center;
	width: 100%;
   margin: 0;
   margin-top: 2rem;
   
}
.PageHeader{
   display: flex;
   align-items: center;
   height: 2rem;
   background: rgba(168, 168, 255, 1);
   font-weight: bold;
   margin:0 3rem;
   margin-bottom: 2rem;
   

}
.Filteres{
   display: flex;
   outline: #A8A8FF solid 0.125rem; /*контур*/
   height: 3rem;
   margin: 0 3rem;
   margin-bottom: 2rem;
   padding: 0.5rem;
}
.ItemGrup{
   display: flex;
   justify-self:flex-start;
   align-items: center;
   margin-right: auto;
}

.ItemGrup__item1 {
   background: rgba(128, 85, 255, 1); 
   margin-right: 0.5rem;
   height: 2rem;
   
}

.ItemGrup__item2{
   background: rgba(128, 85, 255, 1);
   height: 2rem;
   width: 2rem;
   
   
}
.item{
   display: flex;
   justify-self: flex-end;
   align-items: center;
   background: rgba(128, 85, 255, 1);
   width: 2rem;
   height: 2rem;
   


}

.TableWrapper{
   display: flex;
   flex-direction: column;
   margin:0 3rem 3rem 3rem;

}
.TableHeader{
   display: flex;
   justify-content: space-between;
   /*убрать при раскомментировании выравнивания столбцов с помощью флекс-гроу*/
   height: 3rem;
   background: rgba(128, 85, 255, 1);
   position: sticky;
   top:0;
}
/*
выравнивание ширины столбцов в шапке таблицы
 .TableHeader__chackbox{
   flex-grow:0.25;
}
.TableHeader__OrderNumber{
   flex-grow: 0.75;
}
.TableHeader__date{
   flex-grow: 1 ;
}
.TableHeader__status{
   flex-grow: 1 ;
}
.TableHeader__posinions{
   flex-grow: 0.5 ;
}
.TableHeader__sum{
   flex-grow: 0.5;
}
.TableHeader__buyers{
   flex-grow: 3;
}  */



.TableBodi{
   background: rgba(168, 168, 255, 1);
   overflow-y: auto; /*скролл при переполнении содержимого*/
   height:100%;
   /* height: 16rem; */
}

.LineWrapper{
   display: flex;
   justify-content: space-between; 
   /*убрать при раскомментировании выравнивания столбцов с помощью флекс-гроу*/
}
/* выравнивание ширины столбцов таблицы
 .LineWrapper__chackbox{
   flex-grow:0.25;
   
}
.LineWrapper__OrderNumber{
   flex-grow: 0.75;
   
}
.LineWrapper__date{
   flex-grow: 1 ;
}
.LineWrapper__status{
   flex-grow: 1 ;
}
.LineWrapper__posinions{
   flex-grow: 0.5 ;
}
.LineWrapper__sum{
   flex-grow: 0.5;
}
.LineWrapper__buyers{
   flex-grow: 3;
}   */

.TableFooter{
   display: flex;
   justify-content: space-between; 
   height: 3rem;
   background: rgba(128, 85, 255, 1);
   width: 100%;
   /*чтобы при уменьшении высоты экрана, панель с футтером
    была доступна без прокрутки страницы вниз*/ 
   position: sticky;
   bottom: 0;
      

}
/* .TableFooter__element{

}  */