:root {
   --background-main: #E5E5E5;
   --background-border: #8055FF;
   --background-button: #459DF5;
   --background-text: #FFFFFF;
   --color-second: #000000;
}
body, html {
   font-family: 'Ubuntu', sans-serif;
   font-size: 16px;
}
.container-button {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 36rem;
   height: 23.5rem;
   background: var(--background-main);
   border: 0.0625rem dashed var(--background-border);
   box-sizing: border-box;
   border-radius: 0.125rem;
}
.button-wrapper {
   display: flex;
   margin: 3rem;
}
.button-wrapper_last {
   margin-top: 0;
}
.button-wrapper__main {
   display: flex;
   flex-direction: column;
   margin-right: 3rem;
}
.button-wrapper__secondary {
   display: flex;
   flex-direction: column;
   margin-right: 3rem;
}
.button-wrapper__disabled{
   display: flex;
   flex-direction: column;
}
.button-ui {
   position: relative;
   width: 7rem;
   height: 2rem;
   background: var(--background-button);
   border-radius: 0.25rem;
   padding: 0.5rem 1rem 0.5rem 2.5rem;
   border:none;
   font-size: 0.75rem;
   line-height: 1rem;
   color: var(--background-text);
   cursor: pointer;
}
.button-ui:hover {
   background-color: var(--background-border);
}
.button-ui__text {
   width: 5.5rem;
   height: 2rem;
   background: var(--background-button);
   border-radius: 0.25rem;
   padding: 0.5rem 1rem;
   border:none;
   font-size: 0.75rem;
   line-height: 1rem;
   color: var(--background-text);
   margin: 1rem 0;
   cursor: pointer;
}
.button-ui__text:hover {
   background-color: var(--background-border);
}
.button-ui__icon {
   position: relative;
   width: 2rem;
   height: 2rem;
   background: var(--background-button);
   border-radius: 0.25rem;
   border:none;
   color: var(--background-text);
   cursor: pointer;
}
.button-ui__icon:hover {
   background-color: var(--background-border);
}
.button-ui_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
}
.button-ui_secondary:hover {
   color: var(--background-text);
}
.button-ui__text_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
}
.button-ui__text_secondary:hover{
   color: var(--background-text);
}
.button-ui__icon_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
   width: 2rem;
   height: 2rem;
}
.button-ui_small {
   width: 5.75rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem 0.25rem 1.5rem;
}
.button-ui__text_small {
   width: 4.5rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem;
}
.button-ui__icon_small {
   width: 1.5rem;
   height: 1.5rem;
}
.button-ui_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
   width: 5.75rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem 0.25rem 1.5rem; 
}
.button-ui_small-secondary:hover {
   color: var(--background-text);
}
.button-ui__text_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
   width: 5.75rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem;
}
.button-ui__text_small-secondary:hover {
   color: var(--background-text);
}
.button-ui__icon_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-button);
   padding: 0;
   width: 1.5rem;
   height: 1.5rem;  
}
.button-ui_disabled {
   appearance: none;
   background-color: transparent;
   width: 10rem;
   height: 2rem;
   color: var(--color-second);
   padding: 0.5rem 1rem 0.5rem 2.5rem; 
}
.button-ui__text_disabled {
   appearance: none;
   background-color: transparent;
   width: 10rem;
   height: 2rem;
   color: var(--color-second);
}
.img {
   position: absolute; 
   top: 0;
   left: 0;
   width: 1rem;
   height: 1rem;
   margin: 0.5rem 0.75rem;
}
.img_small {
   margin: 0.25rem 0.5rem;
}
.img_icon {
   margin: 0.5rem;
}
.img_icon-small {
   margin: 0.25rem;
}
.img_disabled {
   margin: 0.5rem 0 0.5rem 1.125rem;
}