:root {
   --background-main: #E5E5E5;
   --background-border: #8055FF;
   --background-buttun: #459DF5;
   --background-text: #FFFFFF;
   --color-second: #000000;
}
body, html {
   font-family: 'Ubuntu', sans-serif;
   font-size: 16px;
}
.container-button {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 36rem;
   height: 23.5rem;
   background: var(--background-main);
   border: 1px dashed var(--background-border);
   box-sizing: border-box;
   border-radius: 0.125rem;
}
.button-wrapper {
   display: flex;
   margin: 3rem;
}
.button-wrapper_last {
   margin-top: 0;
}
.button-wrapper__main {
   margin-right: 3rem;
}
.button-wrapper__secondary {
   margin-right: 3rem;
}
.button {
   position: relative;
   width: 7rem;
   height: 2rem;
   background: var(--background-buttun);
   border-radius: 0.25rem;
   padding: 0.5rem 1rem 0.5rem 2.5rem;
   border:none;
   font-size: 0.75rem;
   line-height: 1rem;
   color: var(--background-text);
   cursor: pointer;
}
.button:hover {
   background-color: var(--background-border);
}
.button__text {
   width: 5.5rem;
   height: 2rem;
   background: var(--background-buttun);
   border-radius: 0.25rem;
   padding: 0.5rem 1rem;
   border:none;
   font-size: 0.75rem;
   line-height: 1rem;
   color: var(--background-text);
   margin: 1rem 0;
   cursor: pointer;
}
.button__text:hover {
   background-color: var(--background-border);
}
.button__icon {
   width: 2rem;
   height: 2rem;
   background: var(--background-buttun);
   border-radius: 0.25rem;
   border:none;
   color: var(--background-text);
   cursor: pointer;
}
.button__icon:hover {
   background-color: var(--background-border);
}
.button_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
}
.button_secondary:hover {
   color: var(--background-text);
}
.button__text_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
}
.button__text_secondary:hover{
   color: var(--background-text);
}
.button__icon_secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
   width: 2rem;
   height: 2rem;
}
.button_small {
   width: 5.75rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem 0.25rem 1.5rem;
}
.button__text_small {
   width: 4.5rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem;
}
.button__icon_small {
   width: 1.5rem;
   height: 1.5rem;
}
.button_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
   width: 5.75rem;
   height: 1.5rem;
   padding: 0.25rem 0.5rem 0.25rem 1.5rem; 
}
.button_small-secondary:hover {
   color: var(--background-text);
}
.button__text_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
}
.button__text_small-secondary:hover {
   color: var(--background-text);
}
.button__icon_small-secondary {
   appearance: none;
   background-color: transparent;
   color: var(--background-buttun);
   padding: 0;
   width: 1.5rem;
   height: 1.5rem;  
}
.button_disable {
   appearance: none;
   background-color: transparent;
   width: 10rem;
   height: 2rem;
   color: var(--color-second);
   padding: 0.5rem 1rem 0.5rem 2.5rem; 
}
.button__text_disable {
   appearance: none;
   background-color: transparent;
   width: 10rem;
   height: 2rem;
   color: var(--color-second);
}
   
.wrapper {
   width: 7rem;
   height: 2rem;
   display: flex;
   justify-content: flex-start;
}
.wrapper_disable {
   width: 10rem;
   height: 2rem;
}
.wrapper_small {
   width: 5.75rem;
   height: 1.5rem;
}
.wrapper_icon-small {
   width: 1.5rem;
   height: 1.5rem;
}
.img {
   position: absolute; 
   width: 1rem;
   height: 1rem;
   margin: 0.5rem 0.75rem;
}
.img-small {
   margin: 0.25rem 0.5rem;
}
.img_icon {
   margin: 0.5rem;
}
.img_icon-small {
   margin: 0.25rem;
}
.img_disable {
   margin: 0.5rem 0 0.5rem 1.125rem;
}