:root {
   --background-lite: #A8A8FF;
   --background-middle: #8055FF;
   --background-borderitem: #459DF5;
   --background-locked: #BAD8F5;
   --background-main: #E5E5E5;
   --background-item: #FFF;
}
body, html {
   font-family: 'Ubuntu', sans-serif;
   font-size: 16px;
}
.radio-wrapper {
   display: flex;
   align-items: center;
   border: 0.0625rem dashed var(--background-middle);
   border-radius: 0.375rem;
   height: 4rem;
   width: 6.5rem;
   background-color: var(--background-main);
}
 .radio__items {
   height: 4rem;
   width: 6.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.radio__input {
   margin: 1.5rem 0.75rem;
   height: 1rem;
   width: 1rem;
   appearance: none;
   border: 0.0625rem solid var(--background-locked);
   box-sizing: border-box;
   border-radius: 1rem;
   background-color: var(--background-item);
   cursor: pointer;
}
.radio__input_active {
   border: 0.25rem solid var(--background-borderitem);
   box-sizing: border-box;
   border-radius: 0.5rem;
}